# Configurações do PostgreSQL
PGHOST=postgres.example.com
PGPORT=5432
PGDATABASE=temboard
PGUSER=temboard_user
PGPASSWORD=secretpassword

# Configurações do Temboard Agent
TEMBOARD_GROUPS=group1 group2
TEMBOARD_HOSTNAME=postgres.example.com
TEMBOARD_KEY=supersecretkey
TEMBOARD_LOGGING_LEVEL=INFO
TEMBOARD_UI_URL=https://temboard.example.com
TEMBOARD_UI_USER=admin
TEMBOARD_UI_PASSWORD=adminpassword
TEMBOARD_USERS=user1:password1 user2:password2
